.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ElvUI_ProfileConverter/FileContentIndex/803c848a-d4e7-48cf-a590-80966edd0f83.vsidx
.vs/ElvUI_ProfileConverter/FileContentIndex/c7b2fa97-b524-44eb-a5e8-ea82a3198a80.vsidx
.vs/ElvUI_ProfileConverter/v17/.wsuo
